* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

canvas {
  display: block;
}

h1 {
  color: white;
  position: absolute;
  font-family:'Courier New', Courier, monospace;
  left: 50%;
  transform: translateX(-50%);
  top: 30px;
}
